body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  width: 300px;

}
/* Container for the heading */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e0e0e0;
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, transparent, #6200ea, transparent);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: bubble 3s infinite; 
}

/* After animation, revert to the original color */
.form-container h2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  z-index: -1;
}

@keyframes bubble {
  0% {
    background-position: 200% 0;
    color: transparent;
  }
  100% {
    background-position: 0% 0;
    color: #e0e0e0;
  }
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  color: #b0b0b0;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #fff;
  align-content: center;
}

.form-container input[type="submit"] {
  width: 102%;
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.form-container input[type="submit"]:hover {
  background-color: #3700b3;
}

.form-container input:focus {
  outline: none;
  border: 2px solid #6200ea;
}

.switch{
  color: #b0b0b0;
}
.switch-btn{
  color: #6200ea;
  font-weight: bolder;
  text-decoration: none;
}

.left-container{
  padding: 20px;
}



.lottie-animation{
  width: 400px;
  height: 370px;
}

/* Typewriter effect */
.typewrite {
  font-size: 45px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.typewrite {
  display: inline-flex;
  align-items: center;
  position: relative; /* Add this to position the cursor */
}

.fixed {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.wrap {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: #6200ea;
  position: relative; /* Add this to position the cursor */
}

/* Add a pseudo-element to create the cursor */
.wrap::after {
  content: '';
  right: -2px;
  position: absolute;
  right: 0;
  top: 0;
  height: 1em;
  width: 2px;
  background-color: white;
  animation: caret-blink 1s infinite;
  margin-left: 5px; 
}

/* Animation for caret blinking */
@keyframes caret-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}